<p style="color:blue">Download <%= @game.name %> for <%= @device %>: <%= @game.link %></p>
<p style="color:blue">Thank you for use our app.</p>
<p style="color:blue">Click <%= link_to "here", "/" %> to return to home page</p>