<table class="table table-striped">
  <tbody>
    <% @microposts.each do |micropost| %>
      <tr>
        <td width="95%"><b><%= micropost.name %> :</b></br> <%= micropost.content %></td>
        <td><%= link_to '<i class="icon-remove-sign"></i>'.html_safe, micropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'comment', new_micropost_path %>