.banner{
  padding-bottom: 20px;
}

.show_game{
  padding-left: 30px;
}

.info {
  clear: both;
}

#notice{
  margin: 0px;
}

.header{
  padding: 0 10px;
}

.header-right{  
  float: right!important;
}

.scrollspy-example{
  height: 210px;
  overflow-y: scroll;
}
