// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-fixed-top {
  position: absolute;
  width: 940px;
  margin: auto;
}

.container_header {
  padding-left: 10px;
}