<footer class="footer">
  <div class="container">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p style="color:blue">Copyright © Vinova Pte. Ltd 2012. All right reserved. Registration No: 201009399G</p>
  </div>
</footer>