<script type="text/javascript">
	$(document).ready(function() {
		$('#coin-slider').coinslider({ width: 900, height: 260, navigation: true, delay: 5000 });
	});
</script>

<div id='coin-slider'>
<% @games.each do |game| %>
  <a href="#">
    <%= image_tag game.banner.thumb('900x260#').url %>
    <span><%= game.info %></span>
  </a>
<% end %>
</div>