<%= stylesheet_link_tag    "coin-slider-styles", :media => "all" %>
<%= javascript_include_tag "coin-slider" %>

<script type="text/javascript">
	$(document).ready(function() {
		$('#coin-slider').coinslider({ width: 900, height: 260, navigation: true, delay: 5000 });
	});
</script>

<div id='coin-slider'>
<% @games_hot.each do |game| %>
  <a href="#">
    <%= image_tag game.banner.thumb('900x260#').url %>
    <span><%= game.description.gsub("\n","<br>").html_safe %></span>
  </a>
<% end %>
</div>